/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    font-size: 1.2em;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

body {
    background: url('https://i.imgur.com/Xulubox.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #95afc0, #535c68);
    opacity: .2;
}

.content {
    display: flex;
    height: 100vh;
    justify-content: center;
    letter-spacing: -0.05em;
    min-height: 100%;
    margin: 0 auto -25px;
    align-items: center;
}

.content p {
    font-size: 14px;
    letter-spacing: 0em;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

h1,
p {
    margin: 0;
}

.center {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

hr {
    max-width: 50%;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #fff;
    /* old IE */
    background-color: #fff;
    /* Modern Browsers */
}

.well {
    background-color: rgba(245, 245, 245, 0.4);
    margin: 0.25rem;
    padding: 1rem;
    border-radius: 0.25rem;
}


.footer {
    font-size: 0.4em;
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #c4c4c4;
    text-transform: uppercase;
}

.nav li a:hover {
    text-decoration: underline;
    background-color: inherit;
}

footer,
.push {
    height: 25px;
}

.img-logo {
    height: 20px;
}
